@model UcakRezervasyon.Models.KoltukSec

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>KoltukSec</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ucusId" class="control-label">@_localization.Getkey("ucusId")</label>
                <select asp-for="ucusId" class="form-control" asp-items="ViewBag.ucusId"></select>
            </div>
            <div class="form-group">
                <label>@_localization.Getkey("tcNo")</label>
                <input asp-for="tcNo" class="form-control" />
                <span asp-validation-for="tcNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>@_localization.Getkey("koltukNumarasi")</label>
                <input asp-for="koltukNumarasi" class="form-control" />
                <span asp-validation-for="koltukNumarasi" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
