@model UcakRezervasyon.Models.Ucak

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="~/rent4u-1.0.0/css/bootstrap.css" asp-append-version="true" />

<h1>Create</h1>

<h4>Ucak</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" class="contact-form row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-field col-lg-6">
                <label asp-for="UcakModeliId" class="control-label" style="background-color:aqua; color:crimson"></label>
                <select asp-for="UcakModeliId" class ="form-control" asp-items="ViewBag.UcakModeliId"></select>
            </div>
            <div class="form-field col-lg-6">
                <label asp-for="KoltukDuzeniId" class="control-label"></label>
                <select asp-for="KoltukDuzeniId" class ="form-control" asp-items="ViewBag.KoltukDuzeniId"></select>
            </div>
            
            <div class="form-field col-lg-12">
                <input type="submit"  value="Create" class="submit-btn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@_localization.Getkey("listeyedon")</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
