@model UcakRezervasyon.Models.UcakModeli

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UcakModeli</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UcakMarkasi" class="control-label"></label>
                <input asp-for="UcakMarkasi" class="form-control" />
                <span asp-validation-for="UcakMarkasi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kapasite" class="control-label"></label>
                <input asp-for="kapasite" class="form-control" />
                <span asp-validation-for="kapasite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
