@model UcakRezervasyon.Models.Ucus

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ucus</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" class="contact-form row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-field col-lg-6">
                <label asp-for="guzergahId" class="control-label"></label>
                <select asp-for="guzergahId" class ="form-control" asp-items="ViewBag.guzergahId"></select>
            </div>
            <div class="form-field col-lg-6">
                <label asp-for="ucakId" class="control-label"></label>
                <select asp-for="ucakId" class ="form-control" asp-items="ViewBag.ucakId"></select>
            </div>
            <div class="form-field col-lg-6">
                <label asp-for="ucusZamani" class="control-label"></label>
                <input asp-for="ucusZamani" class="form-control" />
                <span asp-validation-for="ucusZamani" class="text-danger"></span>
            </div>
            <div class="form-field col-lg-12">
                <input type="submit" class="submit-btn"  value="Create"  />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@_localization.Getkey("listeyedon")</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
