@model UcakRezervasyon.Models.Ucus

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ucus</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-field col-lg-6">
                <label asp-for="guzergahId" class="control-label"></label>
                <select asp-for="guzergahId" class="form-control" asp-items="ViewBag.guzergahId"></select>
                <span asp-validation-for="guzergahId" class="text-danger"></span>
            </div>
            <div class="form-field col-lg-6">
                <label asp-for="ucakId" class="control-label"></label>
                <select asp-for="ucakId" class="form-control" asp-items="ViewBag.ucakId"></select>
                <span asp-validation-for="ucakId" class="text-danger"></span>
            </div>
            <div class="form-field col-lg-6">
                <label asp-for="ucusZamani" class="control-label"></label>
                <input asp-for="ucusZamani" class="form-control" />
                <span asp-validation-for="ucusZamani" class="text-danger"></span>
            </div>
            <div class="form-field col-lg-6">
                <input type="submit" value="Save" class="submit-btn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@_localization.Getkey("listeyedon")</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
